@include bp(max-width,$bp-tablet){
  .button-call{
    position: fixed;
    left: 5px;
    bottom: 5px;
    padding: 5px 15px;
    border-radius: 1px;
    a{
      color: $text_white;
      font-size: 20px;
      text-transform: uppercase;
    }
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    /* IE10+ */
    background-image: -ms-linear-gradient(top, $bg_2 0%, #c15353 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, $bg_2 0%, #c15353 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, $bg_2 0%, #c15353 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $bg_2), color-stop(100, #c15353));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, $bg_2 0%, #c15353 100%);

    /* W3C Markup */
    background-image: linear-gradient(to bottom, $bg_2 0%, #c15353 100%);
  }
}