.block-search{
  .btn-close{
    display: none;
  }
  .search-form{
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .container-inline{
    position: relative;
    .form-type-textfield{
      padding: 0px;
      margin: 0px;
      .element-invisible{
        display: none;
      }
    }
    .form-text{
      line-height: 24px;
      border: none;
      background-color: $text_white;
      color: $text_gray_light;
      width: 100%;
      border-radius: 3px;
      padding-left: 10px;
    }
    .form-actions{
      position: absolute;
      right: 0px;
      display: block;
      top: 0px;
      input{
        background-color: transparent;
        border-left: 1px solid $text-white;
        padding: 5px;

      }
    }
  }

}

@include bp(max-width,$bp-tablet){
  #block-search-form{
    position: fixed;
    top: -200px;

    height: 200px;
    width: 0;

    -webkit-transform: translate3d( 0 ,0,0);
    -ms-transform: translate3d( 0 ,0,0);
    transform: translate3d( 0 ,0,0);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
    .content{
      padding-top: 80px;
      visibility: hidden;
    }
    &.open-popup{
      .content{
        visibility: visible;
      }
      width: 100%;
      left: 0px;
      z-index: 9999;
      background: rgb(54, 25, 25); /* Fall-back for browsers that don't
                                    support rgba */

      -webkit-transform: translate3d( 0,200px,0);
      -ms-transform: translate3d(  0,200px,0);
      transform: translate3d(  0,200px,0);
      background: rgba(00, 00, 00, 0.8);
      display: block;
      .btn-close{
        content: "X";
        width: 20px;
        height: 20px;
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $text_white;
        pointer-events:auto;
        cursor: pointer;
        text-align: center;
        line-height: 20px;
        color: $text_red;
        font-weight: bold;
        display: block;
      }
    }

    .form-type-textfield{
      .form-text{
        background-color: $text_white;
        color: $text_black;
      }
    }
  }
}