.block-hotline-top{
  .content{
    text-align: right;
    .phone-icon{
      display: inline-block;
      margin-right: 5px;
      .fa{
        font-weight: bold;
        font-size: 16px;
        color: $text_red;
      }
    }
    .phone-number{
      display: inline-block;
      span{
        font-weight: bold;
        font-size: 16px;
        color: $text_red;
      }
    }
  }
}