.news-font{
  .views-row{
    display: table;
    width: 100%;
    margin-bottom: 10px;
    .views-field-field-image{
      margin-right: 10px;
      float: left;
      img{
        width: 80px;
      }
    }
    a{
      display: block
/*
      position: relative;
      &:after{
        content: "\2022";
        position: absolute;
        left: 0px;
        color: $text_black;
      }*/
    }
    &:last-child{
      a{
        border-bottom: none;
      }

    }
  }
}
.home-highlight-box2{
  margin-top:40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@include bp(max-width,$bp-tablet){
  .home-highlight-box2{
    margin-top:0px;
  }

}