.news-font{
  .views-row{
    .views-field-body{
      display: none;
    }
    display: block;
    a{
      display: block;
      padding: 10px 0px 10px 15px;
      color: $text_black;
      font-weight: bold;
      font-size: 14px;

      position: relative;
      &:after{
        content: "\2022";
        position: absolute;
        left: 0px;
        color: $text_black;
      }
    }
    &:last-child{
      a{
        border-bottom: none;
      }

    }
  }
}
.home-highlight-box2{
  margin-top:40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@include bp(max-width,$bp-tablet){
  .home-highlight-box2{
    margin-top:0px;
  }

}