.pager li > a, .pager li > span{
  border-radius: 0px;
}
.item-list .pager li{
  padding: 5px;
  margin-left: 2px;
  a,span{
    padding-left: 10px;
    padding-right: 10px;
  }
}
.pager-load-more.pager{
   li{
     a{
       text-transform: uppercase;
       padding: 10px 30px;
       background-color: $text_red;
       font-weight: bold;
       color:$text_white;
       font-size: 15px;
     }
  }
}