/* Variables */
/* Break point */
/* Mixin */
/* Mixin style */
/* animation */
/* appearance */
/* border radius */
/* box-shadow */
/* custome font */
/* filter */
/* transform */
/* transition */
/* placeholder */
/* opacity */
/* breakpoint with one condition(min or max) */
/* breakpoint with two conditions (min and max) */
.news-font .views-row {
  display: table;
  width: 100%; }
  .news-font .views-row .views-field-field-image {
    margin-right: 10px;
    float: left; }
    .news-font .views-row .views-field-field-image img {
      width: 80px; }
  .news-font .views-row a {
    display: block; }
  .news-font .views-row:last-child a {
    border-bottom: none; }

.home-highlight-box2 {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px; }

@media only screen and (max-width: 767px) {
  .home-highlight-box2 {
    margin-top: 0px; } }
.videos-font .views-row {
  display: block;
  float: left;
  width: 50%; }
  .videos-font .views-row:first-child {
    padding-right: 15px; }
  .videos-font .views-row:last-child {
    padding-left: 15px; }
  .videos-font .views-row a {
    padding-top: 15px;
    display: block; }

.view-videos .views-field-field-youtube a {
  position: relative;
  display: block; }
  .view-videos .views-field-field-youtube a:before {
    position: absolute;
    left: 0px;
    bottom: 0px;
    content: "";
    width: 32px;
    height: 32px;
    background: url("../images/icon_social_youtube.png") center; }
  .view-videos .views-field-field-youtube a:hover:before {
    opacity: 0.7; }

.view-videos.view-display-id-page_1 .views-field-title a {
  display: block;
  padding: 10px 0px;
  text-align: justify;
  height: 80px; }
.view-videos.view-display-id-page_1 .views-row {
  margin-bottom: 20px; }

@media only screen and (max-width: 767px) {
  .videos-font {
    margin-top: 40px; } }
.follow-me p {
  color: #A70A0A;
  font-size: 18px; }
.follow-me .social-icon-footer a {
  padding-right: 20px;
  display: block;
  float: left; }

@media only screen and (max-width: 767px) {
  .follow-me p.social-icon-footer {
    display: table; }
    .follow-me p.social-icon-footer img {
      max-height: 60px; } }
#block-menu-menu-he-gia-tri-code-loi ul.menu {
  padding: 0px;
  margin: 0px; }
  #block-menu-menu-he-gia-tri-code-loi ul.menu li {
    list-style: none;
    display: block;
    border-bottom: 1px solid #797979;
    padding: 10px 0px; }
    #block-menu-menu-he-gia-tri-code-loi ul.menu li a {
      font-size: 15px;
      color: #b0b0b0;
      display: block;
      position: relative;
      padding-left: 13px; }
      #block-menu-menu-he-gia-tri-code-loi ul.menu li a.active {
        color: #164d81;
        font-weight: bold; }
      #block-menu-menu-he-gia-tri-code-loi ul.menu li a:before {
        position: absolute;
        content: '\2022\2002';
        left: 0px;
        font-size: 15px;
        top: -3px; }

.node-type-page img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.related-products {
  margin-top: 25px; }
  .related-products.block .title {
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    position: relative;
    padding-bottom: 5px;
    text-align: center;
    display: block;
    text-transform: none; }
    .related-products.block .title:after {
      position: absolute;
      width: 50px;
      height: 3px;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 0px;
      background-color: #ffbc00; }
  .related-products .slick-next::before, .related-products .slick-prev::before {
    color: #164d81; }

.menu-product-category .title {
  font-size: 16px;
  text-transform: none;
  margin-bottom: 5px; }
  .menu-product-category .title:after {
    display: none; }
.menu-product-category ul.menu {
  padding: 0px; }
  .menu-product-category ul.menu li {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    padding: 10px 0px;
    border-bottom: 1px solid #00AF50; }
    .menu-product-category ul.menu li a {
      font-size: 15px;
      color: #b0b0b0; }
      .menu-product-category ul.menu li a.active {
        color: #164d81; }
      .menu-product-category ul.menu li a:before {
        content: '\2022\2002'; }

.block-support {
  border: 1px solid #00AF50;
  padding: 10px; }

.news-left-sidebar.block .title {
  font-size: 18px;
  font-weight: normal;
  text-transform: none;
  font-weight: bold; }
  .news-left-sidebar.block .title:after {
    background-color: #ffbc00;
    width: 50px;
    bottom: -8px; }
.news-left-sidebar.block .views-field-title {
  padding-bottom: 10px; }
  .news-left-sidebar.block .views-field-title a {
    color: #797979;
    font-size: 14px;
    text-align: justify;
    display: block; }
    .news-left-sidebar.block .views-field-title a:before {
      content: '\2022\2002'; }

.menu-news ul {
  padding: 0px;
  margin: 0px; }
  .menu-news ul li {
    list-style: none;
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #b0b0b0; }
    .menu-news ul li a {
      font-size: 15px;
      color: #797979; }
      .menu-news ul li a.active {
        color: #164d81; }
      .menu-news ul li a:before {
        content: "\2022\2002"; }

.social-buttons {
  display: table;
  width: 100%;
  text-align: center; }
  .social-buttons .facebook-button {
    display: inline-block;
    height: 27px;
    overflow: hidden;
    margin-right: 4px; }
  .social-buttons .google-plus-button {
    overflow: hidden;
    display: inline-block; }

.node-type-article .social-buttons {
  text-align: left; }

.pager li > a, .pager li > span {
  border-radius: 0px; }

.item-list .pager li {
  padding: 5px;
  margin-left: 2px; }
  .item-list .pager li a, .item-list .pager li span {
    padding-left: 10px;
    padding-right: 10px; }

.pager-load-more.pager li a {
  text-transform: uppercase;
  padding: 10px 30px;
  background-color: #ED443D;
  font-weight: bold;
  color: #fff;
  font-size: 15px; }

@media only screen and (max-width: 767px) {
  .button-call {
    position: fixed;
    left: 5px;
    bottom: 5px;
    padding: 5px 15px;
    border-radius: 1px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    /* IE10+ */
    background-image: -ms-linear-gradient(top, #A70A0A 0%, #c15353 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #A70A0A 0%, #c15353 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #A70A0A 0%, #c15353 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A70A0A), color-stop(100, #c15353));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #A70A0A 0%, #c15353 100%);
    /* W3C Markup */
    background-image: linear-gradient(to bottom, #A70A0A 0%, #c15353 100%); }
    .button-call a {
      color: #fff;
      font-size: 20px;
      text-transform: uppercase; } }
.products-featured {
  margin-top: 20px; }
  .products-featured .views-field-title a {
    text-align: center;
    padding: 10px 0px;
    display: block; }
  .products-featured .row-content {
    border: 1px solid #f4f4f4; }
    .products-featured .row-content .views-field-field-image .field-content {
      text-align: center; }
      .products-featured .row-content .views-field-field-image .field-content img {
        max-width: 60%;
        display: inline-block;
        margin-top: 15px; }
  .products-featured .slick-next {
    right: 25px; }
    .products-featured .slick-next:before {
      content: "\f105";
      font: normal normal normal 50px/1 FontAwesome;
      color: #7a7a7a; }
  .products-featured .slick-prev {
    left: 25px; }
    .products-featured .slick-prev:before {
      content: "\f104";
      font: normal normal normal 50px/1 FontAwesome;
      color: #7a7a7a; }
  .products-featured .slick-next, .products-featured .slick-prev {
    display: inline-block;
    font: normal normal normal 50px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 2; }

.view-gallery .views-row .row-content {
  display: block;
  position: relative;
  margin-bottom: 15px; }
  .view-gallery .views-row .row-content .views-field-title {
    background-color: #00AF50;
    bottom: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    transition: height 1s ease 0s;
    width: 100%; }
    .view-gallery .views-row .row-content .views-field-title .field-content {
      line-height: 50px;
      font-weight: bold;
      color: #fff; }
  .view-gallery .views-row .row-content:hover .views-field-title {
    display: block;
    height: 50px;
    transition: height 1s ease 0s; }
  .view-gallery .views-row .row-content:hover img {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8); }

.footer-bottom {
  background-color: #00AF50;
  padding: 15px 0px; }
  .footer-bottom p {
    color: #fff;
    margin-bottom: 0px;
    font-size: 16px; }

.front .footer {
  margin-top: 0px; }

.footer {
  background-color: #f4f4f4;
  padding-top: 30px;
  padding-bottom: 15px;
  margin-top: 40px; }
  .footer .block-footer .title {
    font-weight: bold;
    font-size: 14px;
    text-transform: none;
    color: #A70A0A;
    margin-bottom: 10px; }
    .footer .block-footer .title:after {
      display: none; }
  .footer .block-footer ul {
    padding: 0px; }
    .footer .block-footer ul li {
      list-style: none;
      margin-left: 0px; }
      .footer .block-footer ul li a {
        color: #7a7a7a; }
  .footer .footer-address .title {
    color: #7a7a7a; }

.footer-address p {
  color: #7a7a7a;
  font-size: 13px;
  margin-bottom: 0px; }
  .footer-address p strong {
    color: #7a7a7a;
    width: 70px;
    display: inline-block; }
  .footer-address p a {
    color: #7a7a7a; }

.content-footer {
  margin-top: 50px;
  padding-bottom: 25px; }

@media only screen and (max-width: 767px) {
  .footer .block {
    margin-top: 30px; }
    .footer .block .title {
      text-align: left; } }

/*# sourceMappingURL=style.css.map */
