/* Variables */
/* Break point */
/* Mixin */
/* Mixin style */
/* animation */
/* appearance */
/* border radius */
/* box-shadow */
/* custome font */
/* filter */
/* transform */
/* transition */
/* placeholder */
/* opacity */
/* breakpoint with one condition(min or max) */
/* breakpoint with two conditions (min and max) */
/*global*/
body.html {
  color: #000;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143; }

img {
  max-width: 100%;
  height: auto; }

.block .title {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  color: #164d81;
  margin-bottom: 25px; }
  .block .title:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #A70A0A;
    bottom: 0px;
    left: 0px; }

.sidebar .block {
  margin-bottom: 30px; }

.home-highlight-box {
  background-color: #fff; }

body.not-front {
  background-color: #fff; }
  body.not-front a {
    color: #A70A0A; }

.page-title {
  background-color: #164d81;
  margin-bottom: 25px; }
  .page-title h1.title, .page-title h2.title {
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px; }

.form-submit {
  border: none;
  padding: 5px 10px;
  font-weight: bold;
  color: #fff; }

.html #wrap {
  border: none; }

.form-type-item .created {
  font-size: 12px;
  display: inline-block; }

.views-field-body {
  text-align: justify; }

.content-after {
  display: table; }

@media only screen and (max-width: 767px) {
  .block .title {
    text-align: center;
    font-size: 15px;
    display: block;
    text-align: center; }
    .block .title:after {
      width: 40px;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: -3px; }

  #sidebar {
    margin-top: 50px; }

  .row {
    margin-left: -5px;
    margin-right: -5px; }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px; } }
#header-top {
  background-color: #E1F4FC;
  padding-top: 10px;
  padding-bottom: 10px; }

#header {
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  z-index: 9; }
  #header .pull-left {
    position: absolute;
    height: 100%; }
    #header .pull-left #logo {
      height: 100%;
      display: block;
      max-width: 200px; }
      #header .pull-left #logo a {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        /* optional. only if you want the items to wrap */
        justify-content: center;
        /* for horizontal alignment */
        align-items: center;
        /* for vertical alignment */ }
        #header .pull-left #logo a img {
          max-height: 100%;
          max-height: 55px; }
        #header .pull-left #logo a .slogan {
          display: block;
          font-weight: bold;
          color: #ED443D; }

@media only screen and (max-width: 767px) {
  #header {
    background-color: rgba(255, 255, 255, 0.6);
    position: relative;
    z-index: 9; }
    #header .pull-left {
      position: inherit;
      float: none !important; }

  #header-top {
    height: 0px;
    padding: 0px; } }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

a {
  text-decoration: none; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " "; }

.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
  clear: both; }

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0; } }
.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.footer-bottom {
  background-color: #00AF50;
  padding: 15px 0px; }
  .footer-bottom p {
    color: #fff;
    margin-bottom: 0px;
    font-size: 16px; }

.front .footer {
  margin-top: 0px; }

.footer {
  background-color: #E1F4FC;
  padding-top: 30px;
  padding-bottom: 15px;
  margin-top: 40px; }
  .footer .block-footer .title {
    font-weight: bold;
    font-size: 14px;
    text-transform: none;
    color: #A70A0A;
    margin-bottom: 10px; }
    .footer .block-footer .title:after {
      display: none; }
  .footer .block-footer ul {
    padding: 0px; }
    .footer .block-footer ul li {
      list-style: none;
      margin-left: 0px; }
      .footer .block-footer ul li a {
        color: #7a7a7a; }
  .footer .footer-address .title {
    color: #7a7a7a; }

.footer-address p {
  color: #7a7a7a;
  font-size: 13px;
  margin-bottom: 0px; }
  .footer-address p strong {
    color: #7a7a7a;
    width: 70px;
    display: inline-block; }
  .footer-address p a {
    color: #7a7a7a; }

.content-footer {
  margin-top: 50px;
  padding-bottom: 25px; }

@media only screen and (max-width: 767px) {
  .footer .block {
    margin-top: 30px; }
    .footer .block .title {
      text-align: left; } }
/*components*/
#navigation #main-menu > ul.menu {
  display: block; }
  #navigation #main-menu > ul.menu > li {
    list-style: none;
    display: block;
    float: left;
    padding: 0px 0px 0px 30px;
    margin: 0px;
    position: relative; }
    #navigation #main-menu > ul.menu > li a {
      font-size: 18px;
      padding: 25px 0px;
      display: block;
      position: relative;
      color: #164d81; }
      #navigation #main-menu > ul.menu > li a.active {
        background: transparent;
        color: #ED443D; }
        #navigation #main-menu > ul.menu > li a.active:after {
          position: absolute;
          content: "";
          bottom: 0px;
          width: 100%;
          background-color: #ED443D;
          height: 3px;
          left: 0px; }
      #navigation #main-menu > ul.menu > li a:hover {
        background: transparent;
        color: #ED443D;
        text-decoration: none; }
        #navigation #main-menu > ul.menu > li a:hover:after {
          position: absolute;
          content: "";
          bottom: 0px;
          width: 100%;
          background-color: #ED443D;
          height: 3px;
          left: 0px; }
#navigation .fa {
  display: none; }

@media only screen and (min-width: 768px) {
  #navigation #main-menu > ul.menu > li:hover ul {
    display: block; }
  #navigation #main-menu > ul.menu > li ul {
    display: none;
    border-top: 3px solid #ED443D;
    position: absolute;
    width: 250px;
    top: calc(100% - 3px);
    left: 0px;
    z-index: 9999;
    background-color: white;
    padding-left: 0px;
    padding-bottom: 10px; }
    #navigation #main-menu > ul.menu > li ul li {
      list-style: none; }
      #navigation #main-menu > ul.menu > li ul li a {
        padding: 8px 0px 0px 0px;
        font-size: 16px; }
        #navigation #main-menu > ul.menu > li ul li a:after {
          display: none;
          font-size: 20px; } }
@media only screen and (max-width: 767px) {
  .hotline-mobile {
    text-align: center;
    font-size: 13px;
    color: #ED443D;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #E1F4FC; }

  .menu-btn {
    display: inline-block;
    float: right; }
    .menu-btn span.icon-bar {
      display: block;
      height: 4px;
      background-color: #00AF50;
      width: 30px;
      margin-bottom: 8px;
      border-radius: 2px; }

  .search-icon {
    display: inline-block;
    float: right;
    font-size: 28px;
    line-height: 28px;
    margin-right: 15px;
    color: #00AF50; }

  .mobile-header {
    display: table;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%; }
    .mobile-header #logo {
      display: table-cell !important;
      float: none; }
    .mobile-header .mobile-menu {
      display: table-cell;
      vertical-align: middle;
      float: none; }

  #header .pull-left #logo a {
    justify-content: left;
    align-items: left; }
    #header .pull-left #logo a img {
      max-height: 50px; }

  #navigation #main-menu > ul.menu {
    padding-left: 0px; }
    #navigation #main-menu > ul.menu > li {
      display: block;
      float: none !important;
      padding-left: 20px;
      border-bottom: 1px solid #7a7a7a; }
      #navigation #main-menu > ul.menu > li a {
        padding-bottom: 15px;
        padding-top: 15px;
        color: #ffffff !important;
        display: inline-block !important;
        font-size: 17px; }
        #navigation #main-menu > ul.menu > li a:after {
          display: none; }
        #navigation #main-menu > ul.menu > li a.active-trail {
          background-color: transparent; }
      #navigation #main-menu > ul.menu > li ul {
        padding-left: 10px; }
        #navigation #main-menu > ul.menu > li ul li a {
          font-size: 20px;
          color: #ffffff;
          padding-top: 5px;
          padding-bottom: 5px; }
      #navigation #main-menu > ul.menu > li.expanded {
        position: relative; }
        #navigation #main-menu > ul.menu > li.expanded .fa {
          display: inline-block;
          position: absolute;
          right: 19px;
          font-size: 16px;
          top: 20px;
          color: #fff; }
        #navigation #main-menu > ul.menu > li.expanded ul {
          display: none; }
          #navigation #main-menu > ul.menu > li.expanded ul li a {
            font-size: 15px; }
        #navigation #main-menu > ul.menu > li.expanded.open ul {
          display: block; } }
.menu-top ul {
  padding: 0px;
  display: table;
  margin: 0px; }
  .menu-top ul li {
    list-style: none;
    display: block;
    float: left; }
    .menu-top ul li a {
      display: inline-block;
      color: #7a7a7a;
      position: relative;
      padding-right: 12px; }
      .menu-top ul li a:after {
        content: "";
        position: absolute;
        right: 0px;
        height: 12px;
        top: 5px;
        width: 1px;
        background-color: #7a7a7a; }
    .menu-top ul li:last-child a {
      color: #ED443D; }
      .menu-top ul li:last-child a:after {
        display: none; }

@media only screen and (max-width: 767px) {
  .menu-top {
    display: none; } }
.block-search .btn-close {
  display: none; }
.block-search .search-form {
  padding-bottom: 0px;
  margin-bottom: 0px; }
.block-search .container-inline {
  position: relative; }
  .block-search .container-inline .form-type-textfield {
    padding: 0px;
    margin: 0px; }
    .block-search .container-inline .form-type-textfield .element-invisible {
      display: none; }
  .block-search .container-inline .form-text {
    line-height: 24px;
    border: none;
    background-color: #A70A0A;
    color: #fff;
    width: 100%;
    border-radius: 3px;
    padding-left: 10px; }
  .block-search .container-inline .form-actions {
    position: absolute;
    right: 0px;
    display: block;
    top: 0px; }
    .block-search .container-inline .form-actions input {
      background-color: transparent;
      border-left: 1px solid #fff;
      padding: 5px; }

@media only screen and (max-width: 767px) {
  #block-search-form {
    padding-top: 80px;
    display: none; }
    #block-search-form.open-popup {
      position: fixed;
      width: 100%;
      height: 200px;
      top: 0;
      z-index: 9999;
      background: #361919;
      /* Fall-back for browsers that don't
       support rgba */
      background: rgba(0, 0, 0, 0.8);
      display: block; }
      #block-search-form.open-popup .btn-close {
        content: "X";
        width: 20px;
        height: 20px;
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: #fff;
        pointer-events: auto;
        cursor: pointer;
        text-align: center;
        line-height: 20px;
        color: #ED443D;
        font-weight: bold;
        display: block; }
    #block-search-form .form-type-textfield .form-text {
      background-color: #fff;
      color: #000; } }
.banner-home .row-content {
  position: relative; }
  .banner-home .row-content .views-field-title {
    position: absolute;
    right: 0px;
    bottom: 10%;
    padding: 10px 100px 10px 20px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #ED443D;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    font-style: italic; }

.banner-second {
  margin-bottom: 30px; }

@media only screen and (max-width: 767px) {
  .front #home-banner {
    margin-top: 0px; }
    .front #home-banner .views-field-title {
      padding: 5px;
      font-size: 13px; } }
.category-list {
  padding-top: 35px; }
  .category-list .views-row {
    margin-bottom: 30px; }
    .category-list .views-row .image-group {
      margin-bottom: 10px;
      position: relative; }
      .category-list .views-row .image-group .views-field-title {
        position: absolute;
        top: 20px;
        width: 100%;
        padding-left: 15px; }
        .category-list .views-row .image-group .views-field-title a {
          font-size: 25px;
          color: #fff; }
      .category-list .views-row .image-group .views-field-view-node {
        position: absolute;
        bottom: 20px;
        right: 30px; }
        .category-list .views-row .image-group .views-field-view-node a {
          background-color: #fff;
          padding: 5px 25px 5px 5px;
          font-size: 11px;
          display: block;
          position: relative; }
          .category-list .views-row .image-group .views-field-view-node a::after {
            display: block;
            content: "\00bb";
            position: absolute;
            right: 0px;
            padding: 2px 6px;
            background-color: #A70A0A;
            color: #fff;
            top: 0px;
            font-size: 15px; }
      .category-list .views-row .image-group .views-field-field-image img {
        -webkit-filter: brightness(0.6);
        filter: brightness(0.6); }
    .category-list .views-row .views-field-field-summary1 {
      padding-left: 5px;
      padding-right: 5px; }
  .category-list .row-content {
    border: 1px solid #b0b0b0;
    display: block;
    height: 100%; }
    .category-list .row-content:hover {
      cursor: pointer; }
      .category-list .row-content:hover img {
        -webkit-filter: brightness(0.8);
        filter: brightness(0.8); }

@media only screen and (max-width: 767px) {
  .category-list .views-row .image-group {
    margin-bottom: 10px;
    position: relative; }
    .category-list .views-row .image-group .views-field-title {
      top: 0px;
      padding-left: 5px; }
      .category-list .views-row .image-group .views-field-title a h3 {
        font-size: 18px;
        color: #fff; }
    .category-list .views-row .image-group .views-field-view-node {
      position: absolute;
      bottom: 10px;
      right: 10px; }
  .category-list .views-row .views-field-name {
    width: auto;
    padding-right: 10px;
    font-size: 20px; } }
.news-font .views-row {
  display: block; }
  .news-font .views-row .views-field-body {
    display: none; }
  .news-font .views-row a {
    display: block;
    padding: 10px 0px 10px 15px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    position: relative; }
    .news-font .views-row a:after {
      content: "\2022";
      position: absolute;
      left: 0px;
      color: #000; }
  .news-font .views-row:last-child a {
    border-bottom: none; }

.home-highlight-box2 {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px; }

@media only screen and (max-width: 767px) {
  .home-highlight-box2 {
    margin-top: 0px; } }
.videos-font .views-row {
  display: block;
  float: left;
  width: 50%; }
  .videos-font .views-row:first-child {
    padding-right: 15px; }
  .videos-font .views-row:last-child {
    padding-left: 15px; }
  .videos-font .views-row a {
    padding-top: 15px;
    display: block; }

.view-videos .views-field-field-youtube a {
  position: relative;
  display: block; }
  .view-videos .views-field-field-youtube a:before {
    position: absolute;
    left: 0px;
    bottom: 0px;
    content: "";
    width: 32px;
    height: 32px;
    background: url("../images/icon_social_youtube.png") center; }
  .view-videos .views-field-field-youtube a:hover:before {
    opacity: 0.7; }

.view-videos.view-display-id-page_1 .views-field-title a {
  display: block;
  padding: 10px 0px;
  text-align: justify;
  height: 80px; }
.view-videos.view-display-id-page_1 .views-row {
  margin-bottom: 20px; }

@media only screen and (max-width: 767px) {
  .videos-font {
    margin-top: 40px; } }
.follow-me p {
  color: #A70A0A;
  font-size: 18px; }
.follow-me .social-icon-footer a {
  padding-right: 20px;
  display: block;
  float: left; }

@media only screen and (max-width: 767px) {
  .follow-me p.social-icon-footer {
    display: table; }
    .follow-me p.social-icon-footer img {
      max-height: 60px; } }
#block-menu-menu-he-gia-tri-code-loi ul.menu {
  padding: 0px;
  margin: 0px; }
  #block-menu-menu-he-gia-tri-code-loi ul.menu li {
    list-style: none;
    display: block;
    border-bottom: 1px solid #797979;
    padding: 10px 0px; }
    #block-menu-menu-he-gia-tri-code-loi ul.menu li a {
      font-size: 15px;
      color: #b0b0b0;
      display: block;
      position: relative;
      padding-left: 13px; }
      #block-menu-menu-he-gia-tri-code-loi ul.menu li a.active {
        color: #164d81;
        font-weight: bold; }
      #block-menu-menu-he-gia-tri-code-loi ul.menu li a:before {
        position: absolute;
        content: '\2022\2002';
        left: 0px;
        font-size: 15px;
        top: -3px; }

.node-type-page img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.related-products {
  margin-top: 25px; }
  .related-products.block .title {
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    position: relative;
    padding-bottom: 5px;
    text-align: center;
    display: block;
    text-transform: none; }
    .related-products.block .title:after {
      position: absolute;
      width: 50px;
      height: 3px;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 0px;
      background-color: #ffbc00; }
  .related-products .slick-next::before, .related-products .slick-prev::before {
    color: #164d81; }

.menu-product-category .title {
  font-size: 16px;
  text-transform: none;
  margin-bottom: 5px; }
  .menu-product-category .title:after {
    display: none; }
.menu-product-category ul.menu {
  padding: 0px; }
  .menu-product-category ul.menu li {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    padding: 10px 0px;
    border-bottom: 1px solid #00AF50; }
    .menu-product-category ul.menu li a {
      font-size: 15px;
      color: #b0b0b0; }
      .menu-product-category ul.menu li a.active {
        color: #164d81; }
      .menu-product-category ul.menu li a:before {
        content: '\2022\2002'; }

.block-support {
  border: 1px solid #00AF50;
  padding: 10px; }

.news-left-sidebar.block .title {
  font-size: 18px;
  font-weight: normal;
  text-transform: none;
  font-weight: bold; }
  .news-left-sidebar.block .title:after {
    background-color: #ffbc00;
    width: 50px;
    bottom: -8px; }
.news-left-sidebar.block .views-field-title {
  padding-bottom: 10px; }
  .news-left-sidebar.block .views-field-title a {
    color: #797979;
    font-size: 14px;
    text-align: justify;
    display: block; }
    .news-left-sidebar.block .views-field-title a:before {
      content: '\2022\2002'; }

.menu-news ul {
  padding: 0px;
  margin: 0px; }
  .menu-news ul li {
    list-style: none;
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #b0b0b0; }
    .menu-news ul li a {
      font-size: 15px;
      color: #797979; }
      .menu-news ul li a.active {
        color: #164d81; }
      .menu-news ul li a:before {
        content: "\2022\2002"; }

.social-buttons {
  display: table;
  width: 100%;
  text-align: right; }
  .social-buttons .facebook-button {
    display: inline-block;
    height: 27px;
    overflow: hidden;
    margin-right: 4px; }
  .social-buttons .google-plus-button {
    overflow: hidden;
    display: inline-block; }

.pager li > a, .pager li > span {
  border-radius: 0px; }

.item-list .pager li {
  padding: 5px;
  margin-left: 2px; }
  .item-list .pager li a, .item-list .pager li span {
    padding-left: 10px;
    padding-right: 10px; }

@media only screen and (max-width: 767px) {
  .button-call {
    position: fixed;
    left: 5px;
    bottom: 5px;
    padding: 5px 15px;
    border-radius: 1px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    /* IE10+ */
    background-image: -ms-linear-gradient(top, #A70A0A 0%, #c15353 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #A70A0A 0%, #c15353 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #A70A0A 0%, #c15353 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A70A0A), color-stop(100, #c15353));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #A70A0A 0%, #c15353 100%);
    /* W3C Markup */
    background-image: linear-gradient(to bottom, #A70A0A 0%, #c15353 100%); }
    .button-call a {
      color: #fff;
      font-size: 20px;
      text-transform: uppercase; } }
.products-featured {
  margin-top: 20px; }
  .products-featured .views-field-title a {
    text-align: center;
    padding: 10px 0px;
    display: block; }
  .products-featured .row-content {
    border: 1px solid #f4f4f4; }
  .products-featured .slick-next {
    right: 25px; }
    .products-featured .slick-next:before {
      content: "\f105";
      font: normal normal normal 50px/1 FontAwesome;
      color: #7a7a7a; }
  .products-featured .slick-prev {
    left: 25px; }
    .products-featured .slick-prev:before {
      content: "\f104";
      font: normal normal normal 50px/1 FontAwesome;
      color: #7a7a7a; }
  .products-featured .slick-next, .products-featured .slick-prev {
    display: inline-block;
    font: normal normal normal 50px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 2; }

.gallery-slider-front .views-row .row-content {
  display: block;
  position: relative;
  margin-bottom: 15px; }
  .gallery-slider-front .views-row .row-content .views-field-title {
    background-color: #00AF50;
    bottom: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    transition: height 1s ease 0s;
    width: 100%; }
    .gallery-slider-front .views-row .row-content .views-field-title .field-content {
      line-height: 50px;
      font-weight: bold;
      color: #fff; }
  .gallery-slider-front .views-row .row-content:hover .views-field-title {
    display: block;
    height: 50px;
    transition: height 1s ease 0s; }
  .gallery-slider-front .views-row .row-content:hover img {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8); }

/*page*/
.best-sell-product .title {
  font-size: 16px;
  text-transform: none; }
  .best-sell-product .title:after {
    display: none; }
.best-sell-product .content .views-row {
  display: inline-table;
  width: 100%;
  border-bottom: 2px solid #00AF50;
  padding-bottom: 15px;
  padding-top: 15px; }
  .best-sell-product .content .views-row:last-child {
    border-bottom: none; }
  .best-sell-product .content .views-row .views-field-field-image {
    float: right;
    width: 65px;
    border: 1px solid #00AF50; }
  .best-sell-product .content .views-row .views-field-title {
    display: block;
    padding-bottom: 10px; }
  .best-sell-product .content .views-row .views-field-field-rate, .best-sell-product .content .views-row .field-name-field-rate {
    width: 100%; }
    .best-sell-product .content .views-row .views-field-field-rate .star, .best-sell-product .content .views-row .field-name-field-rate .star {
      float: left;
      width: 8px;
      height: 9px;
      background: url("../images/star-disable.png") no-repeat;
      padding: 0 6px; }
    .best-sell-product .content .views-row .views-field-field-rate .star-active, .best-sell-product .content .views-row .field-name-field-rate .star-active {
      background: url("../images/star.png") no-repeat; }

.block-system .view-id-product_list {
  text-align: center; }
  .block-system .view-id-product_list > .view-content .views-row {
    margin-bottom: 20px; }
    .block-system .view-id-product_list > .view-content .views-row .views-field-title {
      padding-bottom: 5px;
      padding-top: 20px; }
      .block-system .view-id-product_list > .view-content .views-row .views-field-title a {
        font-size: 18px; }
    .block-system .view-id-product_list > .view-content .views-row .views-field-field-image {
      overflow: hidden;
      box-sizing: border-box;
      display: block; }
      .block-system .view-id-product_list > .view-content .views-row .views-field-field-image a img {
        max-height: 100%;
        max-width: 100%;
        display: block;
        box-sizing: border-box; }
    .block-system .view-id-product_list > .view-content .views-row .row-container {
      border: 1px solid #A70A0A;
      padding: 5px; }

@media only screen and (max-width: 767px) {
  .block-system .view-id-product_list .views-row .row-container {
    border: 1px solid #00AF50;
    display: block;
    height: 100%;
    padding-bottom: 10px;
    padding-top: 10px; }
    .block-system .view-id-product_list .views-row .row-container .views-field-field-image {
      height: auto;
      border: none; } }
.view-news.view-display-id-page_1 .views-row,
.view-news.view-display-id-page_2 .views-row {
  margin-bottom: 20px; }
  .view-news.view-display-id-page_1 .views-row .views-field-title a,
  .view-news.view-display-id-page_2 .views-row .views-field-title a {
    display: block;
    color: #7a7a7a;
    padding: 10px 0px;
    text-align: justify;
    height: 80px; }
  .view-news.view-display-id-page_1 .views-row .views-row,
  .view-news.view-display-id-page_2 .views-row .views-row {
    margin-bottom: 20px; }

h1.news-title {
  font-size: 18px;
  font-weight: bold;
  color: #164d81;
  margin-top: 0px; }

#block-system-main .node-full .form-item {
  margin: 0px; }

.node-article .field-type-text-with-summary {
  text-align: justify; }

.node-type-product h1.product-title {
  color: #164d81;
  font-size: 18px;
  font-weight: bold;
  padding-top: 0px;
  margin-top: 0px; }
.node-type-product .form-type-item {
  margin: 0px; }

.block-system .view-technical-list {
  text-align: center; }
  .block-system .view-technical-list .views-row {
    margin-bottom: 20px; }
    .block-system .view-technical-list .views-row .views-field-title {
      padding-bottom: 5px;
      padding-top: 20px; }
      .block-system .view-technical-list .views-row .views-field-title a {
        font-size: 18px; }
    .block-system .view-technical-list .views-row .views-field-field-image {
      padding: 5px 20px; }
      .block-system .view-technical-list .views-row .views-field-field-image a img {
        max-height: 100%;
        display: block;
        box-sizing: border-box; }

.view-jobs .views-row {
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #b0b0b0; }
  .view-jobs .views-row:last-child {
    border-bottom: 0px; }
  .view-jobs .views-row .views-field-title a {
    display: block;
    color: #7a7a7a;
    padding: 10px 0px;
    text-align: justify; }
  .view-jobs .views-row .views-field-body {
    text-align: justify;
    color: #b0b0b0; }

.embedded-video iframe {
  max-width: 100%; }

/*# sourceMappingURL=style.css.map */
